numpy==1.26.0
voila==0.5.4
voila-material
voila-vuetify
bqplot
numpy==1.26.0
ipywidgets
django>=4.2,<5.0
gunicorn>=21.2,<22.0
dj-database-url>=2.0,<3.0
whitenoise[brotli]>=6.0,<7.0
ipykernel
ipython
matplotlib